.header_content {
  background-color: rgba(137, 43, 226, 0.541);
}
.hire_button {
 
    height: 40px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 140px;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #fd61f5, #ffc400);
    background-size: 200% 100%;
    transition: background-position 0.7s;
}
.hire_button:hover {
  border: none;
  background-position: -100% 0;
  color: #fff;
}
.my_work {
  border-radius: 50px;
  width:150px;
}
.slider_cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Content_Side {
  width: 50%;
  padding: 50px;
  text-align: start;
}
.background_Image {
  width: 50%;
  padding: 50px;
}
.background_Image img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .background_Image img {
    display: none;
  }
  .Content_Side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
  }
}
