/* .header_content {
  background: linear-gradient(to top, rgba(250, 185, 5, 0.5), rgba(2, 3, 63, 0.3)),
  linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 0, 221, 0.5));
  opacity: .3;
}
.contents_header{
 

} */
.hire_button {
 
    height: 40px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 140px;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #fd61f5, #ffc400);
    background-size: 200% 100%;
    transition: background-position 0.7s;
}
.hire_button:hover {
  border: none;
  background-position: -100% 0;
  color: #fff;
}
.my_work {
  border-radius: 50px;
  width:150px;
}
.slider_cover {
  backdrop-filter: saturate(180%) blur(10px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Content_Side {
  width: 50%;
  padding: 50px;
  text-align: start;
}

.background_img_cover{
  width: 100%;
  height: 400px;
    background-image: url("/images/Frame 14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.background_img_cover img {
height: 350px;
object-fit: cover;
border-radius: 100px;
}
@media (max-width: 767px) {
  .background_img_cover{
    display: none;
    width: 0px;
    height: opx;
      background-image: none;
  }
  .background_img_cover img{
    display: none;
  }
  .Content_Side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
  }
}
.bg{
  background:  linear-gradient(rgba(250, 95, 5, 0.815), rgba(2, 3, 63, 0));
  /* background-image: url("/Website Building of Shopping Sale.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  width: 100%;
  border-radius: 20px;
}