.circular-progress {
  
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(rgb(22, 37, 53) 0deg, rgb(219, 218, 218) 0deg);
    transition: background 2s ease-in-out;
  }
  
  .inner-circle {
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .percentage {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .tag {
    font-size: 1em;
  }
  