.container_background{
    background-color: rgba(0, 0, 0, 0.637);
    background-image: url(/images/TV1.png);
    height: auto;
    margin: 0;
    background-size: cover;
    /* for fixx background image  */
    background-attachment: fixed;
    background-position: center top;
    border-radius: 50px;
    filter: brightness(50%);
}
.content_project{
    backdrop-filter: saturate(180%) blur(3px);
}
.project_img{
transition: 0.5s ease-in-out;
box-shadow: rgba(255, 1, 1, 0.521) 0px 19px 38px, rgba(196, 29, 29, 0.918) 0px 15px 12px;
}
.project_img:hover{
    margin-top: -20px;
}